<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite TestNG Inovabiz" >
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>

    <test name="ValidaHeaderTest">
        <classes>
            <class name="tests.ValidaHeaderTest"/>
        </classes>
    </test>

    <test name="FormularioRegistroTest">
        <classes>
            <class name="tests.FormularioRegistroTest"/>
        </classes>
    </test>
</suite>